/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap'); */

/* * {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Mukta", sans-serif;
} */
/** BOOTSTRAP PRUEBA**/


/* body{
    display: flex;
    flex-direction: column;
    width: 100%;
} */


/* h1 {
    font-size: 4.5rem;
    font-weight: 500;
}

h2 {
    font-size: 2.25rem;
    font-weight: 450;
}

h3 {
    font-size: 1.75rem;
    font-weight: 300;
}

p {
    font-size: 1.625rem;
    font-weight: 300;
} */


/** HEADER **/

/* .bg-mio{
    position: fixed;
    background-image: url('../assets/img_proyecto/cuadro-encabezado.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
} */
/* .btn-nav{
    background-color: white;
    color: white;
} */
/* .nav-mio{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: .9375rem;
    height: 100%;
    padding-right: 3.125rem;
} */
/* .contain-btn-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* .logoHeader {
    width: 100px;
    height: 100%;
    overflow: hidden;
} */
/* .navbar-nav a{
    color: white;
} */

/* 
.nav-mio a:hover{
    filter: drop-shadow(2px 2px 5px black);
    text-decoration: underline 1px #ff895b9f;
    text-underline-offset: 3px;
} */


/** MAIN **/

/* main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.portada {
    background-image: url('../assets/img_proyecto/foto-ppl.png');
    height: 927px;
    background-repeat: no-repeat;
    background-size: cover;
}

.portada h1 {
    font-size: 5.625rem;
    padding-left: 100px;
    padding-top: 150px;
}

.portada h2 {
    padding-left: 100px;
    font-weight: 450;
    color: black;
} */



/**section personalizados**/

/* .entrenamientosPersonalizados {
    background-image: url('../assets/img_proyecto/SECTION02.0.png');
    background-size: cover;
    color: white;
}

.personalizadosArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.personalizadosArticles article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entrenamientosPersonalizados h2 {
    padding-top: 100px;
    padding-left: 3.125rem;
}

.entrenamientosPersonalizados article {
    padding: 50px;
}

.entrenamientosPersonalizados article:hover{
    filter: drop-shadow(4px 4px 10px #FF895B);
}

.entrenamientosPersonalizados article h3 {
    padding-top: 20px;
} */

/**section SOBRE NOSOTROS**/
/* 
.sobreNosotros {
    background-image: url('../assets/img_proyecto/SECTION3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.sobreNosotros h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
}

.sobreNosotros article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    grid-column: 3/5;
    grid-row: 2/4;
}

.sobreNosotros article p {
    background-color: #f2958d71;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    font-size: 1.375rem;
}

.sobreNosotros article a {
    padding-top: 1.25rem;
    color: white;
}
.sobreNosotros article a:hover{
    text-decoration: underline 2px #FF895B;
    text-underline-offset: 10px;
}
 */

/**footerr**/


/* footer {
    background-image: url('../assets/img_proyecto/cuadro-encabezado.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

footer section a img {
    padding: 20px;
    width: 85px;
    height: 85px;
}
footer section a:hover{
    filter: drop-shadow(2px 2px 5px black);
} */



/** RUTINAS **/

/**portada**/
/* 
.portada {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.grid-rutinas {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas:
        "fuerza hipertrofia resistencia"
        "potencia velocidad cardiovascular";
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
}

.fuerza {
    grid-area: fuerza;
}

.hipertrofia {
    grid-area: hipertrofia;
}

.resistencia {
    grid-area: resistencia;
}

.potencia {
    grid-area: potencia;
}

.velocidad {
    grid-area: velocidad;
}

.cardiovascular {
    grid-area: cardiovascular;
}
.grid-rutinas a:hover{
    text-shadow: 2px 2px 30px white;
    text-decoration: underline 1px #ff895b9f;
    text-underline-offset: 3px;
}

.entrenamientos-order {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sub-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sub-order article {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
} */

/* Nosotross  */


/**MAIN**/

/* .nosotrosMain {
    background-image: url('../assets/img_proyecto/SECTION02.0.png');
    background-size: contain;
    color: white;
}

.nosotrosMain section h1{
    padding: 50px;
    margin-top: 50px;
} */
/* .nosotrosMain article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
/* 
.nosotrosMain section h2 {
    text-transform: uppercase;
    padding-top: 50px;
}

.nosotrosMain section p {
    padding-top: 50px;
}

.nosotrosMain section iframe {
    margin: 3.125rem;
}

.flex-nosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 80%;

}
.flex-nosotros p:hover{
    text-shadow: 2px 2px 30px white;
} */

/* Contacto  */

.contacto {
    background-image: url('../assets/img_proyecto/SECTION02.0.png');
    background-size: contain;
    color: white;
}

.contacto h1 {
    margin: 50px;
    padding: 50px;
}
.container-form{
    margin-bottom: 5.425rem;
}
.contacto form {
    background-image: url('../assets/img_proyecto/contacto/Rectangle\ 8.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 28px;
    color: white;
    width: 37.5rem;
    padding: 25px;
    margin: auto;
}

.form-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.inputNormal {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #FF895B;
    width: 80%;
    font-family: "Mukta", sans-serif;
    font-weight: 500;
}

.buttonRegistro {
    background-color: #FAAA65;
    color: black;
    border-radius: 30px;
    padding: 15px 25px;
    font-size: 32px;
    margin: 15px;
    border: none;
    cursor: pointer;
}
.buttonRegistro:hover{
    background-color: #f78623;
    box-shadow: 0 0 30px white;
    color:rgba(2, 2, 2, 0.774)
}

form :focus{
    filter: drop-shadow(5px 5px 5px white);
    background-color: #faa25b;
    outline: none;
    border:0;
}


/* VIDEOS */

.videos {
    background-image: url('../assets/img_proyecto/SECTION02.0.png');
    background-size: contain;
    color: white;
    padding: 50px;
}

.videos .intro {
    padding: 50px;
    width: 70%;
    margin: auto;
}

.videos h1 {
    padding-top: 50px;
}
.videos h2{
    padding: .625rem;
}

.videos h3 {
    color: #FE7D4B;
    padding: 15px;
}

.videos img {
    width: 100%;
}

.flex-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-videos a{
    text-decoration: none;
}

.flex-videos a:hover{
    text-shadow: 2px 2px 20px white;
    text-decoration: underline 1px #ff895b9f;
    text-underline-offset: 3px;
}



/** BOOTSTRAP**/
.contain-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img_proyecto/gim-aire-libre.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3.125rem;
    margin-top: 3.4375rem;
    height: 100vh;
}

.contain-contain .p-cambios{
    background-color: #faa25b7e;
    padding: .3125rem;
    border-radius: 15px;
}
.carousel-caption p{
    font-size: .875rem;
}
.section-cambios{
    height: 500px;
    padding: 50px;    
    overflow: hidden;
}

/**          TAMAÑO TABLET             - -              --             --**/

@media (max-width:800px) {

    header{
        height: fit-content
    }

    .portada h1 {
        font-size: 3.5rem;
        font-weight: 500;
    }

    .portada h2 {
        font-size: 1.75rem;
        font-weight: 450;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.625rem;
    }
    .nav-mio{
        flex-direction: column;
        gap: .0625rem;
        align-items: start;
        padding: .3125rem;
    }
    .portada {
        height: 37.5rem;
        width: 100%;
    }

    .personalizadosArticles {
        gap: 16px;
        height: 15rem;
        width: 100%;
    }

    .personalizadosArticles article img {
        width: 9.375rem;
        height: 6.75rem;
    }

    .entrenamientosPersonalizados h2 {
        padding-top: 3.125rem;
        padding-left: 3.125rem;

    }

    .entrenamientosPersonalizados article {
        padding: .9375rem;
    }

    .entrenamientosPersonalizados article h3 {
        padding-top: 1.25rem;
    }

    .sobreNosotros {
        height: 25rem;
        color: white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .sobreNosotros h2 {
        padding: 1.5625rem;
    }

    .sobreNosotros article p {
        font-size: 1.25rem;
    }

    /**RUTINAS**/
    .grid-rutinas {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2,55px);
        margin-top: 4.375rem;
    }

    .grid-rutinas a h2{
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .sub-order article img{
        height: 9rem;
        width: 9.25rem;
    }


    .flex-map iframe{
        width: 25rem;
        height: 18.75rem;
    }

    .contacto form{
        width: 80%;
    }
    form{
        display: flex;
        justify-content: center;
    }

    .form-flex{
        width: 28.125rem;
        /* height: 37.5rem; */
        padding: 1.25rem;
        padding-bottom: 2.1875rem;
    }
    .form-flex label{
        font-size: 1.5rem;
    }


    .videos{
        padding: 0;
    }
    .videos h1{
        margin-top: 50px;
        margin-left: 50px;
    }
    .videos h2{
        margin: 15px;
    }
}


/**          TAMAÑO CELU             - -              --             --**/

@media (max-width:550px){

header{
    height: fit-content;
    position: relative;
}
.logoHeader{
    align-items: center;
    height: 100px;
}
nav ul{
    flex-direction: column;
}

    .portada h1 {
        font-size: 2.25rem;
        font-weight: 500;
        
        padding-left: 1.25rem;
    }

    .portada h2 {
        font-size: 1.25rem;
        font-weight: 450;
        padding-left: 1.25rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }


    .entrenamientosPersonalizados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .entrenamientosPersonalizados h2{
        padding-top: 30px;
        padding-left: 0;
    }

    .personalizadosArticles{
        flex-direction: column;
        height: 100%;
    }

    .sobreNosotros{
        background-image: url('../assets/img_proyecto/section-celu-3.png');
        background-repeat: no-repeat;
        background-size: cover;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: 450;
        color: white;
    }

    .sobreNosotros article p{
        width: 80%;
    }

    .grid-rutinas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .9375rem;
    }

    .grid-rutinas a h2{
        font-weight: 450;
        background-color: black;
        -webkit-text-fill-color: black;
        -webkit-background-clip: text;
        
    }

    .sub-order{
        flex-direction: column;
    }
    .sub-order article{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
        width: 296px;
    }
    .sub-order article h3{
        padding: 0;
    }

    .nosotrosMain section h1{
        font-size: 40px;
        padding-top: 8.375rem;
    }
    .nosotrosMain section p {
        padding-top: 25px;
    }

    .flex-nosotros h2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .flex-map iframe{
        width: 15.625rem;
        height: 12.5rem;
    }

    .contacto h1{
        font-size: 40px;
        padding-left: 25px;
        padding-top: 9.375rem;
        margin: 0;
    }
    .contacto {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .contacto section form{
        background-image: none;
        width: 100%;
        padding: 0;
    }
    .form-flex{ 
        width: 100% ;
        height:fit-content;
        padding: 0 15px;
    }

    .form-flex label{    
        font-size: 1rem;
        padding: .9375rem;
    }

    .buttonRegistro{
        font-size: 20px;
    }
    .videos{
        padding: 0;
    }
    .videos h1{
        font-size: 2.5rem;
        padding-top: 9.375rem;
        padding-left: .9375rem;
    }
    .videos h2{
        padding-left: 15px;
    }
    .videos .intro{
        padding-top: 25px;
        padding-bottom: 25px;
    }
}