@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both; }

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0; }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1; } }

.scale-in-hor-center {
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1; } }

@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1; } }

* {
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Mukta", sans-serif; }

h1 {
  font-size: 4.5rem;
  font-weight: 500; }

h2 {
  font-size: 2.25rem;
  font-weight: 450;
  transform: skew(-10deg); }

h3 {
  font-size: 1.75rem;
  font-weight: 300; }

p {
  font-size: 1.625rem;
  font-weight: 300; }

body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  gap: none;
  width: 100%; }

header {
  z-index: 1000; }
  header .bg-mio {
    position: fixed;
    background-image: url("../assets/img_proyecto/cuadro-encabezado.png");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5.1619rem; }

footer {
  background-image: url("../assets/img_proyecto/cuadro-encabezado.png");
  background-repeat: no-repeat;
  background-size: cover; }
  footer .flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    footer .flex-footer a img {
      padding: 1.25rem;
      height: 5.3125rem;
      width: 5.3125rem; }
    footer .flex-footer a:hover {
      filter: drop-shadow(2px 2px 5px black); }

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none;
  width: 100%; }
  main .portada {
    background-image: url("../assets/img_proyecto/foto-ppl.png");
    height: 927px;
    background-repeat: no-repeat;
    background-size: cover; }
    main .portada h1 {
      font-size: 5.625rem;
      padding: 9.375rem 0 0 6.25rem; }
    main .portada h2 {
      padding-left: 100px;
      font-weight: 450;
      color: black; }
  main .entrenamientosPersonalizados {
    background-image: url("../assets/img_proyecto/SECTION02.0.png");
    background-size: cover;
    color: white; }
    main .entrenamientosPersonalizados h2 {
      padding-top: 100px;
      padding-left: 3.125rem; }
    main .entrenamientosPersonalizados .personalizadosArticles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 3.125rem;
      padding: 3.125rem; }
      main .entrenamientosPersonalizados .personalizadosArticles article {
        display: flex;
        flex-direction: column;
        flex-wrap: none;
        justify-content: center;
        align-items: center;
        gap: none; }
        main .entrenamientosPersonalizados .personalizadosArticles article:hover {
          filter: drop-shadow(4px 4px 10px #FF895B); }
        main .entrenamientosPersonalizados .personalizadosArticles article h3 {
          padding-top: 1.25rem;
          transform: skew(-20deg); }
  main .sobreNosotros {
    background-image: url("../assets/img_proyecto/SECTION3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    main .sobreNosotros h2 {
      grid-column: 1/3;
      grid-row: 1/2;
      justify-self: center;
      align-self: center; }
    main .sobreNosotros article {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: none;
      grid-column: 3/5;
      grid-row: 2/4; }
      main .sobreNosotros article p {
        background-color: #f2958d71;
        padding: 20px;
        margin: 15px;
        border-radius: 10px;
        font-size: 1.375rem; }
      main .sobreNosotros article a {
        padding-top: 1.25rem;
        color: white; }
        main .sobreNosotros article a:hover {
          text-decoration: underline 2px #FF895B;
          text-underline-offset: 10px; }

main .portada {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none;
  width: 100%; }
  main .portada .grid-rutinas {
    margin-top: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 100px);
    grid-template-areas: "fuerza hipertrofia resistencia" "potencia velocidad cardiovascular";
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    main .portada .grid-rutinas .fuerza {
      grid-area: fuerza; }
    main .portada .grid-rutinas .hipertrofia {
      grid-area: hipertrofia; }
    main .portada .grid-rutinas .resistencia {
      grid-area: resistencia; }
    main .portada .grid-rutinas .potencia {
      grid-area: potencia; }
    main .portada .grid-rutinas .velocidad {
      grid-area: velocidad; }
    main .portada .grid-rutinas .cardiovascular {
      grid-area: cardiovascular; }
    main .portada .grid-rutinas h2 {
      color: black; }
    main .portada .grid-rutinas a {
      text-decoration: none; }
      main .portada .grid-rutinas a:hover {
        transform: scale(1.2);
        text-shadow: 2px 2px 30px white;
        text-decoration: underline 1px #ff895b9f;
        text-underline-offset: 3px; }

main .entrenamientos-order {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: none;
  align-items: none;
  gap: none; }
  main .entrenamientos-order .sub-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    main .entrenamientos-order .sub-order article {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
      padding-top: 2.25rem;
      padding-bottom: 2.25rem; }
      main .entrenamientos-order .sub-order article h3 {
        transform: skew(-20deg); }
      main .entrenamientos-order .sub-order article:hover {
        filter: drop-shadow(4px 4px 10px #FF895B); }

.nosotrosMain {
  background-image: url("../assets/img_proyecto/SECTION02.0.png");
  background-size: contain;
  color: white; }
  .nosotrosMain h1 {
    padding: 9.375rem 0 0 6.25rem; }
  .nosotrosMain article {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none; }
    .nosotrosMain article .flex-nosotros {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: none;
      width: 80%; }
      .nosotrosMain article .flex-nosotros h2 {
        text-transform: uppercase;
        padding-top: 50px; }
      .nosotrosMain article .flex-nosotros p {
        padding-top: 50px; }
        .nosotrosMain article .flex-nosotros p:hover {
          text-shadow: 2px 2px 30px white; }
    .nosotrosMain article .flex-map iframe {
      margin: 3.125rem; }

.contacto {
  background-image: url("../assets/img_proyecto/SECTION02.0.png");
  background-size: contain;
  color: white; }
  .contacto h1 {
    padding: 9.375rem 0 0 6.25rem; }
  .contacto .container-form {
    margin-bottom: 5.425rem;
    padding-top: 3.125rem; }
    .contacto .container-form form {
      background-image: url("../assets/img_proyecto/contacto/Rectangle 8.png");
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 28px;
      color: white;
      width: 37.5rem;
      padding: 25px;
      margin: auto; }
      .contacto .container-form form .form-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: none; }
        .contacto .container-form form .form-flex .inputNormal {
          padding: 5px;
          border: none;
          border-radius: 4px;
          background-color: #FF895B;
          width: 80%;
          font-family: "Mukta", sans-serif;
          font-weight: 500; }
          .contacto .container-form form .form-flex .inputNormal:focus {
            filter: drop-shadow(5px 5px 5px white);
            background-color: #faa25b;
            outline: none;
            border: 0; }
        .contacto .container-form form .form-flex .buttonRegistro {
          background-color: #FAAA65;
          color: black;
          border-radius: 30px;
          padding: 15px 25px;
          font-size: 32px;
          margin: 15px;
          border: none;
          cursor: pointer; }
          .contacto .container-form form .form-flex .buttonRegistro:hover {
            background-color: #f78623;
            box-shadow: 0 0 30px white;
            color: rgba(2, 2, 2, 0.774); }

.videos {
  background-image: url("../assets/img_proyecto/SECTION02.0.png");
  background-size: contain;
  color: white; }
  .videos h1 {
    padding: 9.375rem 0 0 6.25rem; }
  .videos h2 {
    padding: .625rem; }
  .videos .intro {
    padding: 3.125rem;
    width: 70%;
    margin: auto; }
  .videos img {
    width: 100%; }
  .videos .flex-videos {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none; }
    .videos .flex-videos a {
      text-decoration: none; }
      .videos .flex-videos a:hover {
        text-shadow: 2px 2px 20px white;
        text-decoration: underline 1px #ff895b9f;
        text-underline-offset: 3px; }
  .videos h3 {
    color: #FE7D4B;
    padding: 15px;
    transform: skew(-20deg); }

.main-bootstrap {
  background-image: url(../assets/img_proyecto/gim-aire-libre.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .main-bootstrap h1 {
    padding: 9.375rem 0 0 6.25rem; }
  .main-bootstrap .contain-contain {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: none;
    padding: 3.125rem; }
    .main-bootstrap .contain-contain .p-cambios {
      background-color: #faa25b7e;
      padding: .3125rem;
      border-radius: 15px; }
    .main-bootstrap .contain-contain .section-cambios {
      height: 500px;
      padding: 50px;
      overflow: hidden; }

.carousel-caption p {
  font-size: .875rem; }

.container-fluid .navbar-brand .logoHeader {
  width: 100px;
  height: 100%;
  overflow: hidden; }
  .container-fluid .navbar-brand .logoHeader:hover {
    filter: drop-shadow(2px 2px 5px white); }

.container-fluid .contain-btn-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none; }
  .container-fluid .contain-btn-nav .btn-nav {
    background-color: white;
    color: white; }
  .container-fluid .contain-btn-nav div .nav-mio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    height: 100%;
    padding-right: 3.125rem; }
    .container-fluid .contain-btn-nav div .nav-mio a {
      color: white; }
      .container-fluid .contain-btn-nav div .nav-mio a:hover {
        transform: scale(1.2);
        filter: drop-shadow(2px 2px 5px black);
        text-decoration: underline 1px #ff895b9f;
        text-underline-offset: 3px; }

@media (max-width: 765px) {
  header .bg-mio {
    height: fit-content; }
  .container-fluid .navbar-brand .logoHeader {
    object-fit: contain; }
  .container-fluid .contain-btn-nav div .nav-mio {
    flex-direction: column;
    align-items: start;
    gap: .0625rem;
    padding: .3125rem; }
  main .portada {
    height: 45rem;
    width: 100%; }
    main .portada h1 {
      font-size: 4rem;
      font-weight: 500; }
  main .entrenamientosPerzonalizados .personalizadosArticles {
    gap: 16px;
    height: 15rem;
    width: 100%; }
    main .entrenamientosPerzonalizados .personalizadosArticles article {
      padding: .9375rem; }
      main .entrenamientosPerzonalizados .personalizadosArticles article img {
        width: 9.375rem;
        height: 6.75rem; }
      main .entrenamientosPerzonalizados .personalizadosArticles article h3 {
        padding-top: 1.25rem; }
  main .sobreNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: none;
    height: 25rem;
    color: white; }
    main .sobreNosotros h2 {
      padding: 1.5625rem; }
    main .sobreNosotros article {
      width: 80%; }
  .portada .grid-rutinas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 55px);
    padding: 0 1.875rem 0 1.875rem; }
    .portada .grid-rutinas a h2 {
      display: flex;
      flex-direction: row;
      flex-wrap: none;
      justify-content: center;
      align-items: center;
      gap: none;
      padding: 0; }
  .entrenamientos-order h2 {
    padding-left: 0px; }
  .entrenamientos-order .sub-order article img {
    height: 9rem;
    width: 9.25rem; }
  .flex-map iframe {
    width: 25rem;
    height: 18.75rem; }
  .contacto .container-form {
    margin-bottom: 0; }
    .contacto .container-form form {
      width: 80%; }
      .contacto .container-form form .form-flex label {
        font-size: 1.30rem; }
  .videos {
    padding: 0; }
    .videos h2 {
      margin: 15px; } }

@media (max-width: 765px) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 1.75rem; }
  h3 {
    font-size: 1.5rem; }
  p {
    font-size: 1.625rem; } }

@media (max-width: 550px) {
  main .portada {
    justify-content: center;
    align-items: center; }
    main .portada h1 {
      padding: 0; }
    main .portada h2 {
      padding: 0; }
  main .entrenamientosPersonalizados {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem; }
    main .entrenamientosPersonalizados h2 {
      padding-left: 0; }
  main .sobreNosotros {
    background-image: url("../assets/img_proyecto/section-celu-3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
    main .sobreNosotros h2 {
      margin-top: 1.5rem; }
  main .portada h1 {
    padding: 1.5625rem;
    font-size: 2.25rem; }
  main .portada .grid-rutinas {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
    margin-top: 0; }
  main .entrenamientos-order .sub-order {
    flex-direction: column; }
    main .entrenamientos-order .sub-order article {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: center;
      gap: 0.9375rem;
      width: 100%; }
  .nosotrosMain article {
    width: 100%; }
    .nosotrosMain article .flex-nosotros {
      width: 90%; }
    .nosotrosMain article .flex-map iframe {
      width: 15.625rem;
      height: 12.5rem; }
  .contacto .container-form form {
    background-image: none;
    width: 100%;
    padding: .625rem; }
    .contacto .container-form form .form-flex .inputNormal {
      height: fit-content;
      font-size: 1.25rem; }
    .contacto .container-form form .form-flex .buttonRegistro {
      font-size: 1.25rem; } }

@media (max-width: 765px) {
  h1 {
    font-size: 2.25rem; }
  h2 {
    font-size: 1.25rem; }
  h3 {
    font-size: 1rem; }
  p {
    font-size: 1rem; } }
