@media (max-width: 550px) {
  main {
    .portada {
      justify-content: center;
      align-items: center;

      h1 {
        padding: 0;
      }

      h2 {
        padding: 0;
      }
    }

    .entrenamientosPersonalizados {
      @include flex(flex, column, nowrap, center, center, 1.25rem);

      h2 {
        font-size: 1rem;
        padding-left: 0;
        padding-top: 1.25rem;
      }
      .personalizadosArticles {
        padding: 0;
      }
    }

    .sobreNosotros {
      background-image: url("../assets/img_proyecto/section-celu-3.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;

      h2 {
        margin-top: 1.5rem;
      }
    }
  }
  //**  FOOTER **//
  footer {
    width: 100%;
    .flex-footer {
      gap: 0;
      justify-content: space-between;
    }
  }

  //** RUTINAS**//

  main {
    .portada {
      h1 {
        padding: 1.5625rem;
        font-size: 2.25rem;
      }

      .grid-rutinas {
        @include flex(flex, column, none, center, center, 0.9375rem);
        margin-top: 0;
      }
    }

    .entrenamientos-order {
      .sub-order {
        flex-direction: column;

        article {
          @include flex(flex, row, nowrap, space-around, center, 0.9375rem);
          width: 100%;
        }
      }
    }
  }

  //* NOSOTROS *//

  .nosotrosMain {
    align-items: center;
    justify-content: center;
    h1 {
      padding-left: 0;
    }
    article {
      width: 100%;

      .flex-nosotros {
        width: 90%;
      }

      .flex-map {
        @include flex(flex, none, none, center, center, none);
        width: 100%;
        iframe {
          width: 100%;
        }
      }
    }
  }

  //* CONTACTO*//
  .contacto {
    justify-content: center;
    align-items: center;
    h1 {
      padding: 0;
      padding-top: 9rem;
    }
    .container-form {
      width: 100%;
      form {
        @include flex(flex, none, none, center, center, none);
        background-image: none;
        width: 100%;
        padding: 0;

        .form-flex {
          align-items: center;
          width: 90%;
          .inputNormal {
            height: fit-content;
            font-size: 1.25rem;
          }

          .buttonRegistro {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  //** VIDEOS**//

  .videos {
    align-items: center;
    justify-content: center;
    h1 {
      padding: 0;
      padding-top: 9rem;
    }
    .intro {
      width: 90%;
      padding: 2.5rem 1.5rem 2.5rem 1.5rem;
      text-align: justify;
      transform: skew(0deg);
    }
  }
}

.main-bootstrap {
  align-items: center;
  justify-content: center;
  h1 {
    padding: 0;
    padding-top: 9rem;
  }
  .contain-contain {
    .section-cambios {
      height: 100%;
      padding: 0;
    }
  }
}

.portada,
.entrenamientosPersonalizados,
.sobreNosotros,
footer {
  padding: 0;
  margin: 0;
  width: 100%;
  .flex-footer {
    flex-wrap: wrap;
  }
}
