.navbar {
  .container-fluid {
    padding: 0;
    .navbar-brand {
      .logoHeader {
        width: 100px;
        height: 100%;
        overflow: hidden;
        &:hover {
          filter: drop-shadow(2px 2px 5px white);
        }
      }
    }

    .contain-btn-nav {
      @include flex(flex, column, none, center, center, none);
      padding: 0;

      .btn-nav {
        background-color: white;
        color: white;
      }

      div {
        .nav-mio {
          @include flex(flex, row, nowrap, center, center, 0.9375rem);
          height: 100%;

          a {
            color: white;

            &:hover {
              transform: scale(1.2);
              filter: drop-shadow(2px 2px 5px black);
              text-decoration: underline 1px #ff895b9f;
              text-underline-offset: 3px;
            }
          }
        }
      }
    }
  }
}
