.navbar {
  .container-fluid {
    .navbar-brand {
      .logoHeader {
        width: 100px;
        height: 100%;
        overflow: hidden;
        &:hover {
          filter: drop-shadow(2px 2px 5px white);
        }
      }
    }

    .contain-btn-nav {
      @include flex(flex, column, none, center, center, none);
      padding: 0;

      .btn-nav {
        background-color: white;
        color: white;
      }

      div {
        a {
          color: white;

          &:hover {
            transform: scale(1.2);
            filter: drop-shadow(2px 2px 5px black);
            text-decoration: underline 1px #ff895b9f;
            text-underline-offset: 3px;
          }
        }
      }
    }
  }
}
