* {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Mukta", sans-serif;
}
h1 {
    font-size: 4.5rem;
    font-weight: 500;
    
}

h2 {
    font-size: 2.25rem;
    font-weight: 450;
    transform: skew(-10deg);
}

h3 {
    font-size: 1.75rem;
    font-weight: 300;
}

p {
    font-size: 1.625rem;
    font-weight: 300;
}