header {
  z-index: 1000;
  .bg-mio {
    position: fixed;
    background-image: url("../assets/img_proyecto/cuadro-encabezado.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 5.1619rem;
    width: 100%;
  }
}
