main {
    .portada {
        @include flex(flex, column, wrap, none, none, none);
        width: 100%;

        .grid-rutinas {
            margin-top: 150px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 100px);
            grid-template-areas:
                "fuerza hipertrofia resistencia"
                "potencia velocidad cardiovascular";
            justify-content: center;
            align-items: center;
            overflow: hidden;
            
            .fuerza {
                grid-area: fuerza;
            }

            .hipertrofia {
                grid-area: hipertrofia;
            }

            .resistencia {
                grid-area: resistencia;
            }

            .potencia {
                grid-area: potencia;
            }

            .velocidad {
                grid-area: velocidad;
            }

            .cardiovascular {
                grid-area: cardiovascular;
            }
            h2{
                color: black;
                
            }
            a {
                text-decoration: none;
                &:hover {
                    transform: scale(1.2);
                    text-shadow: 2px 2px 30px white;
                    text-decoration: underline 1px #ff895b9f;
                    text-underline-offset: 3px;
                }
            }

        }

    }

    .entrenamientos-order {
        @include flex(flex, column, wrap, none, none, none);

        .sub-order {
            @include flex(flex, row, wrap, center, center, 2rem);

            article{
                @include flex(flex, column, nowrap, center, center, 1.25rem);
                padding-top: 2.25rem;
                padding-bottom: 2.25rem;
                h3{
                    transform: skew(-20deg);
                }
                &:hover{
                    filter: drop-shadow(4px 4px 10px #FF895B);
                }
            }
        }
    }
}