main {
    .portada {
        @include flex(flex, column, wrap, none, none, none);
        width: 100%;

        .grid-rutinas {
            margin-top: 150px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 100px);
            grid-template-areas:
                "fuerza hipertrofia resistencia"
                "potencia velocidad cardiovascular";
            justify-content: center;
            align-items: center;
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(255, 255, 255, 1) 62%, rgba(255, 255, 255, 1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            overflow: hidden;

            .fuerza {
                grid-area: fuerza;
            }

            .hipertrofia {
                grid-area: hipertrofia;
            }

            .resistencia {
                grid-area: resistencia;
            }

            .potencia {
                grid-area: potencia;
            }

            .velocidad {
                grid-area: velocidad;
            }

            .cardiovascular {
                grid-area: cardiovascular;
            }

            a {
                &:hover {
                    text-shadow: 2px 2px 30px white;
                    text-decoration: underline 1px #ff895b9f;
                    text-underline-offset: 3px;
                }
            }

        }

    }

    .entrenamientos-order {
        @include flex(flex, column, wrap, none, none, none);

        .sub-order {
            @include flex(flex, row, wrap, center, center, 2rem);

            article{
                @include flex(flex, column, nowrap, center, center, 1.25rem);
                padding-top: 2.25rem;
                padding-bottom: 2.25rem;

                &:hover{
                    filter: drop-shadow(4px 4px 10px #FF895B);
                }
            }
        }
    }
}